<ion-content [fullscreen]="true">
  <div class="header">
    <h1>Profile</h1>
  </div>

  <div class="profile-wrapper">
    <div class="header-section">
      <div class="avatar-wrapper">
        <img
          src="https://ui-avatars.com/api/?name=Visitor&background=7F6380&color=fff&bold=true&size=120&fontsize=0.60"
          alt="User Avatar"
        />
        <div class="avatar-badge">
          <ion-icon name="pencil-outline"></ion-icon>
        </div>
      </div>
      <h2 class="username">VISITORS</h2>
      <p class="role">GUEST ACCOUNT</p>
    </div>

    <div class="menu-section">
      <ion-list lines="none">
        <ion-item button (click)="goToSettings()" class="menu-item">
          <ion-icon
            name="settings-outline"
            slot="start"
            class="menu-icon"
          ></ion-icon>
          <ion-label>Settings</ion-label>
          <ion-icon
            name="chevron-forward-outline"
            slot="end"
            class="chevron-icon"
          ></ion-icon>
        </ion-item>

        <ion-item button (click)="goToInvite()" class="menu-item">
          <ion-icon
            name="person-add-outline"
            slot="start"
            class="menu-icon"
          ></ion-icon>
          <ion-label>Invite People</ion-label>
          <ion-icon
            name="chevron-forward-outline"
            slot="end"
            class="chevron-icon"
          ></ion-icon>
        </ion-item>

        <ion-item
          button
          (click)="goToLeaveAccount()"
          class="menu-item leave-item"
        >
          <ion-icon
            name="log-out-outline"
            slot="start"
            class="menu-icon"
          ></ion-icon>
          <ion-label>Leave Guest</ion-label>
          <ion-icon
            name="chevron-forward-outline"
            slot="end"
            class="chevron-icon"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
