<ion-content [fullscreen]="true">
  <div class="splash-container">
    <div class="header-image-wrapper">
      <img
        src="../../../assets/SpashHero.png"
        alt="Feva Coffee Splash"
        class="main-image"
      />
    </div>

    <div class="content-body">
      <h1 class="main-heading">YOUR EXCELLENCE DESERVES A PERFECT BREW</h1>

      <p class="welcome-text">
        Welcome to FEVA COFFEE. Refine your day, one golden cup at a time. Step
        into a space where elegance meets inspiration.
      </p>

      <ion-button class="get-started-btn" expand="block" routerLink="/tab1">
        GET STARTED
      </ion-button>
    </div>
  </div>
</ion-content>
