<ion-content [fullscreen]="true">
  <div class="header-nav">
    <ion-button fill="clear" (click)="goBack()" class="small-back-btn">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
  </div>

  <div class="settings-container">
    <h1 class="page-title">Settings</h1>

    <div class="options-wrapper">
      <button class="text-link">Change Profile Pic</button>
      <div class="divider"></div>
      <button class="text-link">Edit Name</button>
      <div class="divider"></div>
    </div>
  </div>
</ion-content>
